:root{
    --main-light: #c79698;
    --bgd-light: #fdecee;
    --main-dark: #72cada;
    --bgd-dark: #bad6d0;
    --display-bgd: #858b86;
    --display-value: #242024;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url(digital-7.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--bgd-light);
    justify-content: center;  
}

.container{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);   
  }
  
  .frame{
    background-color: var(--main-light);
    min-height: 500px;
    min-width: 380px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ce8183;
    box-shadow: 0px 0px 8px #7b585a;
  }
  
 
  .btn-layout{
    width: 100%;
    height: 300px;
    display: grid;  
    margin-top: 50px; 
    bottom: 20px;
    position: absolute;
    bottom: 50px;
    grid-template-columns: repeat(4, 1fr);
  }

  button {
    color:#f4f0e8;
    background-color:  inherit;
    border: .3px solid #ce8183;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 100;
    box-shadow: 0px 0px 5px #7b585a;
  }

  button:active {
    box-shadow: 0px 0px 2px #7b585a;
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }

  button.equals {
    grid-column: 3 / 5;
  }

  .display {
    width: 350px;
    height: 90px;
    border-radius: 2px;
    background-color: var(--display-bgd);
    position: absolute;
    top: 40px;
    box-shadow: 0px 0px 4px #ce8183;
    overflow: hidden;

}

.display-value {
    color: var(--display-value);
    font-family: 'Digital-7 Mono';
    text-align: end;
    margin: 0 10px;
}

#currentDisplayValue {
  font-size: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#previousDisplayValue {
  font-size: 32px;
  padding: 5px 0;
}
/* LIGHTDARK SLIDER */

.lightdark{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-family: 'Digital-7 Mono';
  z-index: 3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin: 0 5px;    
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1.2px;
  background-color: #e47584;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #37474F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #37474F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(35px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/* DARK THEME */
.dark .frame{
  background-color: var(--main-dark);
  box-shadow: 0px 0px 8px #41727b;
  border: 2px solid #53c6db;
}

.dark{
  background-color: var(--bgd-dark);
}

.dark button{
  border: .3px solid #53c6db;
  box-shadow: 0px 0px 5px #41727b;
}

.dark button:active {
  box-shadow: 0px 0px 2px #41727b;
}

.dark .display {
  box-shadow: 0px 0px 4px #53c6db;
}

.dark .slider:before{
  background-color: #03c5ef;
}
